server {
    listen {{ nginx_port }};
    server_name  localhost;

    location / {
        root  {{ nginx_root_dir }};
     }

    location /status {
      stub_status on;
      access_log off;
    }

    location = /status.html {
        access_log off;
        root {{ nginx_root_dir }};
    }

    error_page   500 502 503 504 /50x.html;
    location = /50x.html {
        root   {{ nginx_root_dir }};
    }
}
